<div class="filtros-container">
    
    <form action="/products/filter" class= "filtros">
    <div class="row d-flex justify-content-between w-100 p-3">
        <div class="col-12 col-lg-3 col-md-12 col-sm-12">
            <label>Tipo</label><br>
            <select class="filtro-select w-100" name="category_id" id="">
                <option value="">Todas</option>
                <% for (category of categories) { %>               
                <option value="<%=category.id%>"><%=category.name%></option>
                <% } %> 
            </select>
    
        </div>
        <div class="col-12 col-lg-3 col-md-12 col-sm-12">
            <label>Ambiente</label><br>
            <select class="filtro-select w-100" name="filter_room" id="">
                <option value="">Todas</option>
                <% for (room of rooms) { %> 
                    <option value="<%=room.id%>"><%=room.name%></option>
                    <% } %> 
            </select>
    
        </div>
        <div class="col-12 col-lg-3 col-md-12 col-sm-12">
            <label>Cuidados</label><br>
                <select class="filtro-select w-100" name="filter_dificult" id="">
                    <option value="">Todos</option>
                    <option value="1">Poco cuidado</option>
                    <option value="2">Requiere atencion</option>
                    <option value="3">Cuidado especial</option>
                </select>
        </div>
        <button class="filtros-button col-12 col-lg-3 col-md-12 col-sm-12 align-self-center mt-3" type="submit">Filtrar</button>
        </form> 
    </div>
        <form action="/products/search" method="GET" class="search-product">
            <input type="search" name="search_query">
            <button type="submit"class="filtros-button">Buscar</button>
        </form>
    
    
   
</div>