<footer>
    <div class="container">
        <section class="row ">
        <div class="footer-container-01 col-6 justify-content-center">
           <div class="row align-items-start">
            <ul class="footer-column-01 col-6 h-auto">
                <li>Productos</li>
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Macetas</a></li>
                <li><a href="#">Complementos</a></li>
                <li><a href="#">Tierra</a></li>
            </ul>
            <ul class="footer-column-02 col-6 h-auto">
                <li>Atencion al cliente</li>
                <li><a href="#">Envios y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
           </div>
        </div>
        <div class="footer-container-02">
            <ul class="footer-row">
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de cookies</a></li>
            </ul>
        </div>
        </section>
       
        
    </div>
</footer>