<footer class="footer">
    <div class="container footer">
        <section class="row ">
        <div class="footer-container-01 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 justify-content-center">
           <div class="row align-items-start">
            <ul class="footer-column-01 col-6 h-auto">
                <li>Productos</li>
                <li><a href="/products/filter?category_id=1&filter_room=0&filter_dificult=0">Plantas de interior</a></li>
                <li><a href="/products/filter?category_id=2&filter_room=0&filter_dificult=0">Macetas de Exterior</a></li>
                <li><a href="/products/filter?category_id=3&filter_room=0&filter_dificult=0">Cáctus</a></li>
                <li><a href="/products/filter?category_id=8&filter_room=0&filter_dificult=0">Complementos</a></li>
            </ul>
            <ul class="footer-column-02 col-6 h-auto">
                <li>Atencion al cliente</li>
                <li><a href="#">Envios y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
           </div>
        </div>
        <div class="footer-container-02 col-12">
            <ul class="footer-row">
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de cookies</a></li>
            </ul>
        </div>
        </section>
       
        
    </div>
</footer>