
<header>
    <% if (userLocal) { %>
     
    
    <section class="header-container"> 
            <div class="menu">
                <div><button class="menu-nav-button">Menu</button></div>
                <nav> <ul class="menu-list">
                <li class="menu-list-item"><a href="/index">Home</a></li>
                <li class="menu-list-item"><a href="/products/admin">Tienda</a></li>
                <li class="menu-list-item"><a href="/inspire">Descubre</a></li>
                <li class="menu-list-item"><a href="/products/create">Crear</a></li>
                <li class="menu-list-item"><a href="/users/profile"> Perfil </a></li>
                <li class="menu-list-item"><a href="/users/logout"> Logout </a></li>
                </ul> 
            </nav>           
            </div>

            <a class="logo-h1"  href="/index">
                <h1>GREEN HOME</h1>
            </a>    

            <a class="carrito" href="/products/cart">
                <div>Carrito</div>
            </a>
    </section>
    
    <% } else { %>
     

    <section class="header-container"> 
        <div class="menu">
            <div><button class="menu-nav-button">Menu</button></div>
            <nav> <ul class="menu-list">
            <li class="menu-list-item"><a href="/index">Home</a></li>
            <li class="menu-list-item"><a href="/products/admin">Tienda</a></li>
            <li class="menu-list-item"><a href="#">Descubre</a></li>
            <li class="menu-list-item"><a href="/users/login">Ingresá</a></li>
            <li class="menu-list-item"><a href="/users/register">Registrate</a></li>

            </ul> 
        </nav>           
        </div>

        <a class="logo-h1"  href="/index">
            <h1>GREEN HOME</h1>
        </a>    

        <a class="carrito" href="/products/cart">
            <div>Carrito</div>
        </a>
</section>
<% } %> 

</header>