body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


@media(max-width:425px){
  ul li {
    list-style: none;

    }
    nav{
      color: #fff;
      background-color: lightgreen;
      display: flex;
      justify-content: center;
    }

    #menu{
      display: none;
    }

.piedepagina{
  background-color: lightgreen;
  display: flex;

}
.listadofooter{
  
  flex-direction: column;
}
.listadofooter2{
  
  flex-direction: column;
}

  
  


}