/*FUENTES
TITULOS
font-family: 'Playfair Display', serif;

CONTENIDO 
font-family: 'Poppins', sans-serif;
*/

/*
  NEGRO #5B5B5B
  GRIS #ACACAC 
  BLANCO
  VERDE 1° #78C092
  ROSA 1° #E1AEA6
  VERDE 2° #038B6B
  ROSA 2° #E88B7B
  VERDE 3° #447977 #699492
  ROSA 3° #A84A4A
*/

body {
  padding: 50px;
  font-family: 'Poppins', sans-serif;
}



  ul li {
    list-style: none;

    }
    nav{
      color: #fff;
      background-color: lightgreen;
      display: flex;
      justify-content: center;
    }

    #menu{
      display: none;
    }

footer {
  background-color: #447977;
  color: #fff;
  display: flex;

}
footer a {
  color: #fff;
}



.listadofooter{
  display: flex;
  flex-direction: column;
}
.listadofooter2{
  display: flex;
  flex-direction: column;
}
.displayfooter3{
  display: flex;
  
}