<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%-include('./partials/header')%>
<body>
    <main>
        <h2>Inspirate</h2>
        <div class="inspire-container">
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
            <div class=inspire-post></div>
        </div>
    </main>    
</body>
</html>