/* -------------------------------------------------------------------------------- */

.carga-visuales-container{
    display: flex;
    
    box-sizing: border-box;
    flex-direction: column;
}
.visual-selector-container{
    width: 100%;
    display: flex;
    width: 1024px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.visual-selector {
    box-sizing: border-box;
    height: 200px;
    width: 1024px;
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-template-rows: 100px;
    gap: 0px 1%;
    grid-template-areas:
      "main-photo slider-photo complements plantpot";
  }
  .main-photo, .slider-photo, .complements, .plantpot {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 200px;
      box-sizing: border-box;
      padding: 5%;
      border: gray 3px dashed;
  }
  .visual-selector-input{
      width: 100%;
  }

  .main-photo { grid-area: main-photo;}
  .slider-photo { grid-area: slider-photo;}
  .complements { grid-area: complements; }
  .plantpot { grid-area: plantpot; }

/* -------------------------------------------------------------------------------- */

.carga-titulo-principal{
    height: 15%;
}

.carga-sub-titulos{
    height: 15%;
}

/* -------------------------------------------------------------------------------- */

.carga-productos-img-artic{
    height: 70%;
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------------- */

.carga-items{
    display: flex;
    width: 200px;
    height: 200px;
    border: dimgray dashed;
    box-sizing: border-box;
    padding: 1%;
    align-items: center;
    justify-items: center;   
}



/* -------------------------------------------------------------------------------- */



.carga-descripcion-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    
}

.carga-descripcion-60-40{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.descripcion-60{
    width: 60%;
    height: 100%;
    padding-right: 3%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
}
.descripcion-input{
    width: 100%;
}

.desciption-input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.descripcion-input-row{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.descripcion-input-mid{
    width: 47.5%;
}

.descripcion-input-long{
    height: 80px;
}

.descripcion-40{
    display: flex;
    width: 40%;
    height: 100%;
    border: solid gray 1px;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-caracteristica{
    margin-top: 2.5%;
    margin-left: 5%;
}

.select-caracteristicas-box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 5%;
    height: 100%;
    padding-top: 2.5%;
}

.caracteristicas-select{
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    
}

.caracteristica-producto{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
}

.select-caracteristicas-box .caracteristica-producto label {
    font-size: 0.8em;
}
/* -------------------------------------------------------------------------------- */

.carga-filtros-container{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

.carga-filtros-60-40{
    display: flex;
    height: 100%;
}

.filtros-60{
    width: 60%;
    height: 100%;
   
    display: flex;
}

.filtros-60 label{
    font-size: 16px;
}

.filtros-40{
    width: 40%;
    height: 100%;
    
    display: flex;
}

.filter-container {
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-template-rows: 100%;
    gap: 0px 1%;
    grid-template-areas:
      "filter-benefit filter-room filter-dificult submit-button";
  }
  .filter-benefit { grid-area: filter-benefit; }
  .filter-dificult { grid-area: filter-dificult; }
  .filter-room { grid-area: filter-room; }
  .submit-button { grid-area: submit-button; grid-area: submit-button;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;}

  .filter-benefit div, .filter-room div, .filter-dificult div {
      padding: 1% 0% 0% 0%;
  }

  .save-button {
    margin-top: 2.5%;
    box-sizing: border-box;
    width: 100%;
    background-color: #447977;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 6%;
    font-size: 16px;
    border: none;
    
  }

  .delete-button{
    margin-top: 2.5%;
    box-sizing: border-box;
    width: 100%;
    background-color: #d01818;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 6%;
    font-size: 16px;
    border: none;
}
.cancel-button{
    margin-top: 2.5%;
    box-sizing: border-box;
    width: 100%;
    background-color: #3d3d3d;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 6%;
    font-size: 16px;
    border: none;
}

@media(max-width: 1023px){

    body{
        width: 100vw;
    }

    .carga-visuales-container{
        display: flex;
        width: 100vw;
        height: auto;
        border: solid black;
        flex-direction: column;
    }

    .carga-productos-img-artic{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
       
    }

    .carga-items{
    width: 45vw;
    height: 50vw;
    border: black solid;
    display: flex;
    margin-bottom: 2%;
    }



/* NOMBRE Y DESCRIPCION */

.carga-descripcion-container{
    width: auto;
    height: auto;
    display: flex;
    border: solid black;
    
}

.carga-descripcion-60-40{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.descripcion-60{
    width: 100%;
}

.descripcion-40{
    width: 100%;
}


}