/*FUENTES
TITULOS
font-family: 'Playfair Display', serif;

CONTENIDO 
font-family: 'Poppins', sans-serif;
*/

/*
  NEGRO #5B5B5B
  GRIS #ACACAC 
  BLANCO
  VERDE 1° #78C092
  ROSA 1° #E1AEA6
  VERDE 2° #038B6B
  ROSA 2° #E88B7B
  VERDE 3° #447977 #699492
  ROSA 3° #A84A4A
*/

* {
  font-family: 'Poppins', sans-serif;
}

a{
  color: white;
  text-decoration:none;
}

body {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: auto;
  border: 0px;
}

/* MENU PRINCIPAL NAVEGACION */
    header{
      margin: 0px;
      border: 0px;
    }

    .header-container{
      
      height: 100px;
      color: #fff;
      background-color:  #447977; 
      margin: 0px;
      border: 0px;
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      flex-wrap: wrap;
         
      }
      
    .menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-self: flex-start;
    }
    .menu-nav-button{
      width: 10%;
    }
    .logo-h1{
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      }

    .menu-list{
      display: none;  
      list-style: none;
      width: 20%;
      }

    .menu-list-item{
      display: none;
    }
    
    .carrito{
      width: 10%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 600;
    }

      .img-principal{
        width: 100%;
        height: 500px;
      }

@media (min-width:1023px){

  header{
    background-color:  #447977;
  }

  .header-container{
    box-sizing: border-box;
    width: 1024px;
    height: 60px;
    color: #fff;
    background-color:  #447977; 
    margin: 0px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    }
    
  .menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
  }
  .menu-nav-button{
    width: 10%;
  }

  .menu-list{
    display: flex;  
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    }
  .menu-nav-button{
    display: none;
  }
  
  .menu-list-item{
    display: inline-flex;
    color: white;
  }

  .logo-h1{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    order: -1;  
  }

  .carrito{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: center;
    order: 1;
  }

}
/* MAIN */


.slider-container{
 
  background: url(../images/647487-PORI67-249.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;}

  h2{
    margin-left: 5%;
  }


.slider-text-principal {
  font-size: 1.5em;
  font-weight: 600;
}

.slider-sub-text-principal{
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 5px
}

.slider-button{
  background-color: #699492;
  color: #fff;
  text-decoration: none;
  padding: 2%;
  width: fit-content;
  border-radius: 5px;
  }
/* DESTACADOS */

.sale-container{
display: flex;
justify-content: center;
height: fit-content;
flex-wrap: wrap;
box-sizing: border-box;
padding: 5%;
}

.sale-box{
width: 220px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
box-sizing: border-box;
padding: 5%;
margin: 1%;
border-radius: 5px;
}

.sale-box-image{
height: 180px;
width: 180px;
}

.sale-box-column{
width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sale-box-title{
padding-bottom: 12px;
font-weight: 200;
font-size: 1.2em;
color: black;
text-align: center
}
.sale-box-price{
display: flex;
height: 10%;
align-items: center;
justify-content: flex-end;
font-weight: 600; 
color: black;
}


.art-destacado-1,.art-destacado-2{
height: 65%;
width: 45%;
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
border: solid #447977;
}

.art-destacado-3,.art-destacado-4{
display: none;
}

.img-destacada{
display: flex;
  background-color: #447977;
  width: 100%;
  height: 90%;
  margin: 5px;
  align-items: flex-end;

}

.nombre-planta-destacado{
display: flex;
padding: 5px;
color: #fff;
text-decoration: none;

}

.precio-destacado{

display: flex;
height: 10%;
align-items: center;
justify-content: flex-end;



}
                                        
.img{
height: 100%;
width: 100%;
}

.img-cont{
height: 500px;
width: 500px;
}




                                              /*TIENDA */
    .shop-container{
      display: flex;
    flex-direction: column;
    width: 100%;
    height: 385vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    }
/*
    .item5025{
      width: 90%;
    height: 90vw;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    }*/

    .grid-container {
      width: 90%;
      padding: 0% 5%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 2.5% 0%;
      grid-template-areas:
        "selection01"
        "selection02"
        "selection03"
        "selection04";
    }
    .selection01 { grid-area: selection01; height: 100%;}
    .selection02 { grid-area: selection02; height: 100%}
    .selection03 { grid-area: selection03; height: 100%}
    .selection04 { grid-area: selection04; height: 100%}

    .shop-category-title {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 1px 3px rgba(0,0,0,0.8);
    }

    .categoria-img-interior{
    background: url(../images/inspire/categoria-img-interior.jpg) center center;
    background-size: cover;
    height: 90vw;
    
    }
    .categoria-img-exterior{
      background: url(../images/inspire/categoria-img-exterior.jpg) center center;
      background-size: cover;
      height: 90vw;
      
    }
    .categoria-img-cactus{
      background: url(../images/inspire/categoria-img-cactus.jpg) center center;
      background-size: cover;
      height: 90vw;
        
    }
    .categoria-img-macetas{
      background: url(../images/inspire/categoria-img-macetas.jpg) center center;
      background-size: cover;
      height: 90vw;
    }



    .shop-category{ 
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    }

    .shop-category-title{
      position: relative;
      top: 5%;
      left: 5%;
      width: 90%;
    }

   

    .art-tienda1,.art-tienda2, .art-tienda3, .art-tienda4 {
      width: 100%;
      height: 25%;
      margin-top: 10px;
    }

    .img-tienda{
      
      background-color: #447977;
      width: 100%;
      height: 100%;
      
    }

    .nombre-tipo-tienda{
      color: #fff;
      text-decoration: none;
      padding: 10px;
    }

                                              /*SUBSCRIBIR */

    .subscribe-container{
      display: flex;
      border:  #447977 solid;
      background-color: #b7ebcd ;
      margin: 43px 0px 10px 0px;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
      align-content: center;
       }

    .subscribe-form{
      padding-top: 5%;
      align-self: center;
      
    }

    .subscribe-text{
      align-self: center;
    }

    

    

    

    /* INSPIRATE */

    
    .inspire-container{

      width: 100vw;

      display: flex;

      flex-direction: row;

      flex-wrap: wrap;
     
     
     box-sizing: border-box;



    }

    .inspirate-box{
      width: 50vw;
      height: 50vw;
      display: flex;
    }

    .img-inspirate1{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-001.jpg);
      background-size: cover;
      
    }
    .img-inspirate2{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-002.jpg);
      background-size: cover;
    }

    .img-inspirate3{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-003.jpg);
      background-size: cover;
    }
    .img-inspirate4{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-004.jpg);
      background-size: cover;
    }
    .img-inspirate5{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-005.jpg);
      background-size: cover;
    }
    .img-inspirate6{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-006.jpg);
      background-size: cover;
    }
    .img-inspirate7{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-007.jpg);
      background-size: cover;
    }
    .img-inspirate8{
      margin: 0px;
      padding: 0px;
      display: flex;
      background: url(../images/inspire/inspire-008.jpg);
      background-size: cover;
    }

    .img-inspirate9,.img-inspirate10,.img-inspirate11,.img-inspirate12,.img-inspirate13,.img-inspirate14,.img-inspirate15,.img-inspirate16{
      display: none;
    }



    

    


/* FOOTER */

footer{
  height: fit-content;
  width: 100%;
}

.footer-row{
  font-size:1em;
  height: 100%;
  width: 100%;
  color: black;
  background-color: #447977;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.footer-container-01{
  width: 90%;
  height: fit-content;
  display: flex;
  padding: 5%;
  align-items: center;
}

.footer-container-02{
  height: 50%;
  display: flex;
  

}

.footer-column-01{
  width: 45%;
  height: fit-content;
  margin: 0px;
  padding-left: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  
}

.footer-column-02{
  width: 45%;
  height: fit-content;
  margin: 0px;
  padding-left: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  order: 1;
}

.footer-row{
  
  font-size: 0.8em;
  width: 75%;
  height: fit-content;
  margin-top: 1%;
  padding: 1%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
}
 



@media(min-width: 1023px){
  body html{
    width: 100%;
    margin: 0px;
    padding:1%;
    display: flex;
    
  }

  header{
    width: 100%;
  }

  main{
    width: 1024px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    
    
  }
/* MAIN */


.slider-container {
  width: 100%;
  height: 500px;
  background: url(../images/647487-PORI67-249.jpg) 9% 87%;
  background-size: 1168px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  box-sizing: border-box;
}

.slider-text-principal{
font-size: 2em;
font-weight: 500;
color: black;
}

.slider-sub-text-principal{
color: black;
font-size: 1.5em;
}

.slider-button{
FONT-WEIGHT: 500;
  color: white;
  text-decoration: none;
  background-color: #447977;
  width: 35%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  box-sizing: content-box;
  border-radius: 5px;
  margin-top: 5px;
}

.sale-container{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0% 2%
  
}

.sale-box{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.sale-box-image{
  width: 175px;
  height: 175px
}

.sale-box-column{
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}


.item5025{
  width: 50%;
  height: 25%;
  box-sizing: border-box;
  padding: 0%;
}

 




.art-destacado-1{
  border: solid #000;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.art-destacado-2{
  border: solid #000;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.art-destacado-3{
  border: solid #000;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.art-destacado-4{
  border: solid #000;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.img-destacada{
  width: 100%;
  height: 90%;
  background-image: url(../images/image-not-found.png);
  background-size: cover;
  display: flex;
  
  
  
}


.shop-container{
  width: 100%;
  height: auto;
  box-sizing: border-box;
 flex-direction: row;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: space-around;
}

/* GRIDS DESTACADOS */

.grid-container {
  width: 100%;
  height: 680px;
  padding: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.5% 2.5%;
  grid-template-areas:
    "selection01 selection02 selection03"
    "selection01 selection04 selection04";
}
.selection01 { grid-area: selection01; height: 100%}
.selection02 { grid-area: selection02; height: 100%}
.selection03 { grid-area: selection03; height: 100%}
.selection04 { grid-area: selection04; height: 100%}

.categoria-img-interior, .categoria-img-exterior,.categoria-img-cactus,.categoria-img-macetas {
  height: 100%;
}
.categoria-img-interior{
  background-position: 45% 100%;
}

.categoria-img-macetas{
  background-size: 125%;
  background-position: 30% 40%;
}

.categoria-img-interior:hover, .categoria-img-exterior:hover,.categoria-img-cactus:hover,.categoria-img-macetas:hover{
    filter: opacity(0.7);
}


.shop-category-title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 1px 3px rgba(0,0,0,0.8);
}

/*-------------------*/


.subscribe-container{
  display: none;
}

.inspire-container{
 width: 1024px;
 height: 1024px;
 display: flex;
 flex-wrap: wrap;
 margin:0px;
}
.inspirate-box{
  width: 256px;
  height: 256px;
  padding: 0px;
  margin: 0px;
}


.img-inspirate9{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-009.jpg);
  background-size: cover;
}
.img-inspirate10{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-010.jpg);
  background-size: cover;
}
.img-inspirate11{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-011.jpg);
  background-size: cover;
}

.img-inspirate12{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-012.jpg);
  background-size: cover;
}

.img-inspirate13{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-013.jpg);
  background-size: cover;
}

.img-inspirate14{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-014.jpg);
  background-size: cover;
}
.img-inspirate15{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-015.jpg);
  background-size: cover;
}
.img-inspirate16{
  margin: 0px;
  padding: 0px;
  display: flex;
  background: url(../images/inspire/inspire-016.jpg);
  background-size: cover;
}
 





/* ---- FOOTER ---- */

footer {
  background-color:#447977;
  height: fit-content;
}

.footer-row {
  width: 1024px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #447977;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.footer-container-01 {
  width: 50%;
  display: flex;
  padding-left: 5%;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 1%;
}

.footer-column-01 {
  width: 50%;
  height: 100%;
  margin: 0px;
  padding-left: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
}

.footer-column-01 {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding-left: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-container-02 {
    width: 100%;
    justify-self: flex-end;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;    
    display: flex;
}

.footer-row {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-bottom: 5%;
    margin-top: 1%;
}

}