<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/stylesheets/style.css" rel="stylesheet" />
    <title>GreenHome</title>
</head>
<body>
    <header>
        <nav>            
        <h1>GREEN HOME</h1>
             <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Descubre</a></li>
                <li><a href="#">Inspirate</a></li>
            </ul>               
        </nav>   
    </header>
    <footer>
        <section class="piedepagina">
            <ul class="listadofooter">
                <li id="tit"><a href="#">Productos</a></li>
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Macetas</a></li>
                <li><a href="#">Complementos</a></li>
                <li><a href="#">Tierra</a></li>
            </ul>
            <ul class="listadofooter2">
                <li id="tit"></li><a href="#">Atencion al cliente</a></li>
                <li><a href="#">Envios y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
            <ul class="listadofooter3">
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de cookies</a></li>
            </ul>
        </section>
        
    </footer>
</body>
</html>