<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\stylesheets\style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>GreenHome</title>
</head>
<body>
    <header>
        <section class="header-container"> 
                <div class="menu">
                    <div><button class="nav-button">Menu</button></div>
                    <nav> <ul class="lista">
                    <li class="nav-menu"><a href="#">Home</a></li>
                    <li class="nav-menu"><a href="#">Tienda</a></li>
                    <li class="nav-menu"><a href="#">Descubre</a></li>
                    <li class="nav-menu"><a href="#">Inspirate</a></li>
                    <li class="nav-menu"><a href="#">Ingresá</a></li>
                    <li class="nav-menu"><a href="#">Registrate</a></li>
                    </ul> 
                </nav>           
                </div>

                <div class="titulo">
                    <h1>GREEN HOME</h1>
                </div>    

                <div class="carrito">
                    <div>Carrito</div>
                </div>
    </section>
    </header>
    <main>

    <div class="principal-container">
        <div class="text-principal">Creá espacios agradables</div>
        <div class="sub-text-principal">Nosotros podemos ayudarte</div>
        <a href="#" ><div class="descubri-button">Descubre plantas perfectas para vos</div></a>
    

</div>

<div>

</div>


    <h2>Destacados</h2>

    <section class="destacados-container">
            
        <div class="box-destacado">
            <img class= "imagen-destacado" src="../public/images/inspire/5e419ede2ce8f040609387.jpg" alt="">
            <div class="column-destacado">
                <div class="nombre-destacado">Nombre Planta</div>
                <div class="precio-destacado">$100</div>
            </div>
        </div>

        <div class="box-destacado">
            <img class= "imagen-destacado" src="../public/images/inspire/5e419ede2ce8f040609387.jpg" alt="">
            <div class="column-destacado">
                <div class="nombre-destacado">Nombre Planta</div>
                <div class="precio-destacado">$100</div>
            </div>
        </div>

            
        
        <div class="box-destacado">
            <img class= "imagen-destacado" src="../public/images/inspire/5e419ede2ce8f040609387.jpg" alt="">
            <div class="column-destacado">
                <div class="nombre-destacado">Nombre Planta</div>
                <div class="precio-destacado">$100</div>
            </div>
        </div>

        <div class="box-destacado">
            <img class= "imagen-destacado" src="../public/images/inspire/5e419ede2ce8f040609387.jpg" alt="">
            <div class="column-destacado">
                <div class="nombre-destacado">Nombre Planta</div>
                <div class="precio-destacado">$100</div>
            </div>
        </div>

    </section>

                                            <!-- TIENDA -->
        <h2>Tienda</h2>

        <section class="tienda-container">
            
            <a href="" class= "item5025">
                <div class="categoria-tienda suculenta-foto">
                    <div class="categoria-tienda-titulo">Maceta y complementos</div>

                </div>
            </a>

            <a href="" class= "item5025">
                <div class="categoria-tienda suculenta-foto">
                    <div class="categoria-tienda-titulo">Maceta y complementos</div>

                </div>
            </a>

            <a href="" class= "item5025">
                <div class="categoria-tienda suculenta-foto">
                    <div class="categoria-tienda-titulo">Maceta y complementos</div>

                </div>
            </a>

            <a href="" class= "item5025">
                <div class="categoria-tienda suculenta-foto">
                    <div class="categoria-tienda-titulo">Maceta y complementos</div>

                </div>
            </a>

        </section>
        

        <section class="subscribir-container">
            <div class="subscribir-form">
                <form action="" method="POST">
                    <div>
                        <label for="suscribir"></label>
                        <input type="email" name="email" id="email" placeholder="carlos.perez@gmail.com">
                        <button>Subscribir</button>
                    </div>
                </div>  
                <p class="subscribir-text">No te pierdas nuestras ofertas y obtene un descuendo del %20 en tu primera compra</p>
            
        </section>

        <h2>Inspirate</h2>

        <section class="inspirate-container">
            
            
            <div class= "inspirate-box img-inspirate1"></div>
            <div class= "inspirate-box img-inspirate2"></div>
            <div class= "inspirate-box img-inspirate3"></div>
            <div class= "inspirate-box img-inspirate4"></div>
            <div class= "inspirate-box img-inspirate5"></div>
            <div class= "inspirate-box img-inspirate6"></div>
            <div class= "inspirate-box img-inspirate7"></div>
            <div class= "inspirate-box img-inspirate8"></div>
            <div class= "inspirate-box img-inspirate9"></div>
            <div class= "inspirate-box img-inspirate10"></div>
            <div class= "inspirate-box img-inspirate11"></div>
            <div class= "inspirate-box img-inspirate12"></div>
            <div class= "inspirate-box img-inspirate13"></div>
            <div class= "inspirate-box img-inspirate14"></div>
            <div class= "inspirate-box img-inspirate15"></div>
            <div class= "inspirate-box img-inspirate16"></div>
        </section>

    </main>


  
    <footer>
        <section class="footer-general">
        <div class="footer-conteiner">
            <ul class="listaF1">
                <li></li><a href="#">Productos</a></li>
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Macetas</a></li>
                <li><a href="#">Complementos</a></li>
                <li><a href="#">Tierra</a></li>
            </ul>
            <ul class="listaF2">
                <li></li><a href="#">Atencion al cliente</a></li>
                <li><a href="#">Envios y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="footer-conteiner2">
            <ul class="listaF3">
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de cookies</a></li>
            </ul>
        </div>
        </section>
        
        
    </footer>
</body>
</html>