<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\stylesheets\style.css" rel="stylesheet" />
    <link href="/stylesheets/Registro.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <header>
        <section class="header-container"> 
                <div class="menu">
                    <div><button class="nav-button">Menu</button></div>
                    <nav> <ul class="lista">
                    <li class="nav-menu"><a href="/index">Home</a></li>
                    <li class="nav-menu"><a href="/product">Tienda</a></li>
                    <li class="nav-menu"><a href="#">Descubre</a></li>
                    <li class="nav-menu"><a href="#">Inspirate</a></li>
                    <li class="nav-menu"><a href="/login">Ingresá</a></li>
                    <li class="nav-menu"><a href="/register">Registrate</a></li>
                    </ul> 
                </nav>           
                </div>

                <a class="titulo"  href="/">
                    <h1>GREEN HOME</h1>
                </a>    

                <a class="carrito" href="/shopping-cart">
                    <div>Carrito</div>
                </a>
    </section>
    </header>
            
        </nav>

                <div class="titulo">
                    <h1>GREEN HOME</h1>
                </div>    

                <div class="carrito">
                    <div>Carrito</div>
                </div>
    </section>
    </header>
    <main>
        <section class="registro-container">
            <h2 class="titulo-registro">Registrarse</h2>
            <div class="post-container">
                <form action="" method="POST">
                    <div class="registro-input">
                        <label for="Nombre"></label>
                        <input class="box-container" type="text" name="Nombre" id="Nombre" placeholder="Nombre">
                    </div>
                    <div class="registro-input"> 
                        <label for="Apellido"></label>
                        <input class="box-container" type="text" name="Apellido" id="Apellido" placeholder="Apellido">
                    </div>
                    <div class="registro-input">
                        <label for="correo"></label>
                        <input class="box-container" type="email" name="email" id="email" placeholder="Correo electronico">
                    </div>
                    <div class="registro-input registro-contraseña">
                        <label for="contraseña"></label>
                        <input class="box-container" type="password" name="password" id="password" placeholder="Contraseña">
                    </div>
                    <div class="registro-input">
                        <label for="Confirmacioncontraseña"></label>
                        <input class="box-container" type="password" name="Confirmacioncontraseña" id="Confirmacioncontraseña" placeholder="Confirmacioncontraseña">
                    </div>
                    <div class="registro-input">
                        <input class="box-container-buttom" type="submit" value="Registrate">
                    </div>
            </div>
        </section>

    </main>  
    
</body>
</html>