<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/cargaProducto.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37f1eb6e83.js" crossorigin="anonymous"></script>
    <title>GreenHome</title>
</head>
<body>
    <%-include('../partials/header')%>
    <main>
                                                            <!-- CARGA DE ITEMS  --> 
        <form action="/products/create" method="POST">
            <section class="carga-visuales-container">
                <div class="carga-titulo-principal"><h2> Agregar producto</h1></div>
                <div class="carga-sub-titulos"><h3>Elementos visuales</h3></div>
                <div class="visual-selector-container">
                    <div class="visual-selector">
                        <div class="main-photo"><input class="visual-selector-input"type="file" name="photo"><div>Foto principal</div></div>
                        <div class="slider-photo"><input class="visual-selector-input" type="file" name="slider-photo"><div>Fotos slider</div></div>
                        <div class="complements"><i class="fas fa-list-alt"></i><div>Complementos</div>

                        </div>
                        <div class="plantpot"><i class="fas fa-seedling"></i><div>Relacionadas</div></div>
                    </div>
                </div>
            </section>

                                                                    <!-- NOMBRE Y DISCRIPCION --> 

            <section class="carga-descripcion-container">
                <div class="carga-sub-titulos">
                    <h3>Descripción</h3>
                </div>

                <div class="carga-descripcion-60-40">
                    <div class="descripcion-60">
                        <div class="desciption-input-box">                     
                            <div class="desciption-input-box">
                                <label for="name" class="descripcion-input">Nombre de Producto</label>
                                <input type="text" name="name" class="descripcion-input" placeholder="Ej: Árbol de Jade">
                            </div>
                        </div>
                        <div class="desciption-input-box">
                            <div class="descripcion-input">
                                <div class="descripcion-input"><label for="name" class="descripcion-input">Precio</label></div>
                                <div class="descripcion-input-row">
                                    <input type="text" name="price" class="descripcion-input-mid" placeholder="Ej: 2000">
                                    <input type="text" name="discount" class="descripcion-input-mid"  placeholder="Ej: 10">
                                </div>
                            </div>
                        </div>
                            <div class="desciption-input-box">
                                <label for="prop-category" class="descripcion-input">Categoría</label>
                                <select name="prop-category" class="descripcion-input">
                                    <option value="Plantas de Interior">Plantas de Interior</option>
                                    <option value="Plantas de Exterior">Plantas de Exterior</option>
                                    <option value="Plantas Florales">Plantas Florales</option>
                                    <option value="Cáctus y Crasas">Cáctus y Crasas</option>
                                    <option value="Orquideas">Orquideas</option>
                                    <option value="Kokedamas">Kokedamas</option>
                                    <option value="Macetas">Macetas</option>
                                    <option value="Accesorios">Accesorios</option>
                                </select>
                            </div>
                            <div class="desciption-input-box">
                                <label for="name" class="descripcion-input">Descripción</label>
                                <input type="text" name="line" class="descripcion-input" placeholder="Descripcion una linea">
                                <input type="text" name="copy" class="descripcion-input" placeholder="Copywriting">
                                <input type="text" name="desciption" class="descripcion-input descripcion-input-long" placeholder="Descripcion completa de producto">
                            </div>
                    </div>
                    <div class="descripcion-40">
                        <div class="titulo-caracteristica">
                            Caracteristicas
                        </div>
                        <div class="select-caracteristicas-box">
                            <div class="caracteristica-producto">
                                <label>Luz</label>
                                <select name="prop-light" class="caracteristicas-select">
                                    <option value="Luz reflejada">Luz reflejada</option>
                                    <option value="Luz directa">Luz directa</option>                                     
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Riego</label>
                                <select name="prop-water" class="caracteristicas-select" >
                                    <option value="1">1 vez por semana</option>
                                    <option value="2">2 veces por semana</option> 
                                    <option value="3">3 veces por semana</option>                                  
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Maceta</label>
                                <select name="prop-plantpot" class="caracteristicas-select">
                                    <option value="Pequeña">Pequeña</option>
                                    <option value="Mediana">Mediana</option>
                                    <option value="Grande">Grande</option>    
                                    <option value="Muy grande">Muy grande</option>                                                                         
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Plagas</label>
                                <select name="prop-plague" class="caracteristicas-select" >
                                    <option value="Resistente">Resistente</option>
                                    <option value="Débil">Débil</option>                                                                       
                                </select>
                            </div>
                            <div class="caracteristica-producto">
                                <label>Altura</label>
                                <input type="number" name="prop-height" list="height-list" step="0.25">
                                <datalist id="height-list">
                                    <option value="0.25">
                                    <option value="0.50">
                                    <option value="0.75">
                                    <option value="1.00">
                                    <option value="1.25">
                                    <option value="1.50">
                                    <option value="1.75">
                                    <option value="2.00">
                                    <option value="2.25">
                                    <option value="2.50">
                                </datalist>
                            </div>
                            <div class="caracteristica-producto">
                                <label>Mascotas</label>
                                <select name="prop-pet" class="caracteristicas-select">
                                    <option value="true">Pet Friendly</option>
                                    <option value="false">Venenosa</option>                                                                       
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            </section>

                                                          <!-- FILTROS -->

            <div class="carga-sub-titulos">
                <h3>Filtros</h3>
            </div>
            <div class="filter-container">
                <div class="filter-benefit">
                    <div><label>Beneficio</label></div>
                    <div><input type="checkbox" name="filter-benefit" value="Trae buena suerte"> Trae buena suerte</div>
                    <div><input type="checkbox" name="filter-benefit" value="Ayuda a la ansiedad"> Ayuda a la ansiedad</div>
                    <div><input type="checkbox" name="filter-benefit" value="Absorbe la humedad"> Absorbe la humedad</div>
                    <div><input type="checkbox" name="filter-benefit" value="Aromatizante"> Aromatizante</div>
                    <div><input type="checkbox" name="filter-benefit" value="Mejora la productividad"> Mejora la productividad</div>
                    <div><input type="checkbox" name="filter-benefit" value="Reducen el estrés"> Reducen el estrés</div>
                </div>
                <div class="filter-room">
                    <div><label>Espacio</label></div>
                    <div><input type="checkbox" name="filter-room" value="Dormitorio"> Dormitorio</div>
                    <div><input type="checkbox" name="filter-room" value="Living"> Living</div>
                    <div><input type="checkbox" name="filter-room" value="Baño"> Oficina</div>
                    <div><input type="checkbox" name="filter-room" value="Balcón"> Balcón</div>
                    <div><input type="checkbox" name="filter-room" value="Jardín"> Jardín</div>
                    <div><input type="checkbox" name="filter-room" value="Terraza"> Terraza</div>
                </div>
                <div class="filter-dificult">
                    <div><label>Dificultad</label></div>
                    <select name="filter-dificult">
                        <option value="Poco cuidado">Poco cuidado</option>
                        <option value="Requiere atención">Requiere atención</option>
                        <option value="Cuidado especial">Cuidado especial</option>                                                                       
                    </select>
                </div>
                <div class="submit-button">
                    <a href="/" class="cancel-button">Cancelar</a>
                    <button type="submit" class="save-button">Guardar producto</button>
                </div>
            </div>
        </form>
    </main>
 
  
    <%-include('../partials/footer')%>
</body>
</html>