<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/cargaProducto.css" rel="stylesheet" />
    <link href="/stylesheets/Tienda.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>GreenHome</title>
</head>
<body>
    <%-include('../partials/header')%>
   <main>
       <div><h2>Tienda</h2></div>

       <div class="filtros-container">

        <div>
        <label>Ubicacion</label><br>
            <select class="filtro-select" name="maceta-complemento" id="">
                <option value="#">Todas</option>
                <option value="#">Interior</option>
                <option value="#">Exterior </option>
            </select>

        </div>

        <div>

            <label>Ambiente</label><br>
            <select class="filtro-select" name="maceta-complemento" id="">
                <option value="#">Todas</option>
                <option value="#">Dormitorio</option>
                <option value="#">Cocina</option>
                <option value="#">Baño </option>
                <option value="#">Oficina </option>
            </select>

        </div>

        <div>

            <label>Tipo</label><br>
            <select class="filtro-select" name="maceta-complemento" id="">
                <option value="#">Todas</option>
                <option value="#">Planta</option>
                <option value="#">Cactus</option>
                <option value="#">Suculentas </option>
                <option value="#">Complementos </option>
            </select>

        </div>

        

        </div>
 
    
       <section class="container-tienda">
           <article class="articulo-tienda">
               <img class="img-articulo-tienda" src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
            <div class="discripcion-articulo-tienda">
               <h3 class="nombre-articulo-tienda">Nombre de la planta</h3>
               <h3 class="precio-articulo-tienda">$100</h3>
               <h4 class="discripcion-articulo">Lorem ipsum dolor sit amet consectetur.</h4>             
               <h4 class="agregar-articulo-tienda">+</h4>
            </div>
           </article>

           <article class="articulo-tienda">
            <img class="img-articulo-tienda" src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
         <div class="discripcion-articulo-tienda">
            <h3 class="nombre-articulo-tienda">Nombre de la planta</h3>
            <h3 class="precio-articulo-tienda">$100</h3>
            <h4 class="discripcion-articulo">Lorem ipsum dolor sit amet consectetur.</h4>             
            <h4 class="agregar-articulo-tienda">+</h4>
         </div>
        </article>

        <article class="articulo-tienda">
            <img class="img-articulo-tienda" src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
         <div class="discripcion-articulo-tienda">
            <h3 class="nombre-articulo-tienda">Nombre de la planta</h3>
            <h3 class="precio-articulo-tienda">$100</h3>
            <h4 class="discripcion-articulo">Lorem ipsum dolor sit amet consectetur.</h4>             
            <h4 class="agregar-articulo-tienda">+</h4>
         </div>
        </article>

        <article class="articulo-tienda">
            <img class="img-articulo-tienda" src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
         <div class="discripcion-articulo-tienda">
            <h3 class="nombre-articulo-tienda">Nombre de la planta</h3>
            <h3 class="precio-articulo-tienda">$100</h3>
            <h4 class="discripcion-articulo">Lorem ipsum dolor sit amet consectetur.</h4>             
            <h4 class="agregar-articulo-tienda">+</h4>
         </div>
        </article>

        <article class="articulo-tienda">
            <img class="img-articulo-tienda" src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
         <div class="discripcion-articulo-tienda">
            <h3 class="nombre-articulo-tienda">Nombre de la planta</h3>
            <h3 class="precio-articulo-tienda">$100</h3>
            <h4 class="discripcion-articulo">Lorem ipsum dolor sit amet consectetur.</h4>             
            <h4 class="agregar-articulo-tienda">+</h4>
         </div>
        </article>

       

      

        

        
           
       </section>
   </main>
 
  
    <%-include('../partials/footer')%>
</body>
</html>